$def with (rc)

<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>简书数据统计</title>
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-freelancer/css/freelancer.min.css" rel="stylesheet">
    <style>
        .text {
            color: rgba(255, 254, 21, 0.96);
        }
        .text2 {
            color: rgba(255, 58, 2, 0.96);
        }
        a {
            color: rgba(255, 254, 21, 0.96);
            font-size: 2.1rem;
            text-underline: none;
        }
    </style>
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bg-primary">
<header class="text-white text-center" style="padding-top: 5rem;">
$if rc.exit:
    <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto img-circle" src="$rc.avatar" alt="avatar">
        <h2 class="mb-0">$rc.nickname</h2>
        <hr class="star-light">
        <h4 class="font-weight-light mb-0">
            关注 : <span class="text">$rc.watch</span> 人 -
            粉丝 : <span class="text">$rc.fans</span> 人 -
            文章 : <span class="text">$rc.articles</span> 篇
            <p></p>
            写作 : <span class="text2">$rc.words</span> 字 -
            收获喜欢 : <span class="text2">$rc.likes</span> 次 -
            总阅读量 : <span class="text2">$rc.total_reading</span> 次 -
            查询总耗时 ：<span class="text2">$rc.time</span> 秒
        </h4>
    </div>
$else:
    <h1 class="mb-0">404</h1>
    <h4>您可以尝试下搜下面这些人</h4><br>
    <h4 class="font-weight-light mb-0">
        <p><a href="/y3Dbcz">简叔</a></p>
        <p><a href="/d9edcb44e2f2">简黛玉</a></p>
        <p><a href="/1441f4ae075d">彭小六</a></p>
        <p><a href="/000a530f461c">happyJared</a></p>
    </h4>
</header>
</body>
</html>